body {
    background-color: rgb(114, 167, 126);
}

h1 {
    color: rgb(0, 0, 139);
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#info {
    color: rgb(143, 59, 59);
}

h3 {
    margin-bottom: 5px;
}

img {
    width: 300px;
}

#cheetah:hover {
    content: url('animals/cheetah.jpg');
    width: 400px;
}

#first-animal {
    text-align: center;
}

#header {
    text-align: center;
}