body {
    background-color: rgb(217,191,151);
  }

h1{
  text-align: center;
  font-size: 40px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div{
  text-align: center;
  font-size: 20px;
}

.btn {
  background-color: rgb(136,148,102);
  border: none;
  color: black;
  padding: 12px 16px;
  font-size: 15px;
  cursor: pointer;
}

.btn:hover {
  background-color: RoyalBlue;
}